@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

body {
		color: #000000;
		font-family: "Source Sans Pro", sans-serif;
}

a {
		border-bottom: dotted 1px rgba(0, 0, 0, 0.5);
		text-decoration: none;
		color: inherit;
	}

		a:hover {
			border-bottom-color: transparent;
			color: #18bfef;
		}

h1, h2, h3, h4, h5, h6 {
		color: #000000;
		font-weight: 600;
		line-height: 1.5;
		margin: 0 0 1rem 0;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		padding-bottom: 0.5rem;
		width: max-content;
		border-bottom: solid 1px #000000;
		margin: 0 0 2rem 0;

}

img {
	margin: 0 0 2rem 0;
}